# Python cache files
__pycache__/
*.py[cod]

# Python virtual environments
.venv/
venv/

# Environment variables / API keys
.env
.env.*

# Jupyter temporary files
.ipynb_checkpoints/

# Temporary/log files
*.log

# Operating system files
.DS_Store
Thumbs.db

# Local environment variables / secrets
.env
.env.*